button,
a {
  text-decoration: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer; }
  button:focus,
  a:focus {
    outline: none; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

p {
  margin: 0; }

input {
  background: none;
  border: none; }
  input:focus {
    outline: none; }

h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 68px; }

h2 {
  font-size: 52px;
  line-height: 1.5em; }

@media (max-width: 1023px) {
  h1 {
    font-size: 48px; }
  h2 {
    font-size: 40px; } }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600; }

h3 {
  font-size: 32px;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

h4 {
  font-size: 20px;
  line-height: 1.4em; }

h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 8px; }

p {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5em;
  color: #6c788b; }

.container {
  max-width: 1146px;
  margin: 0 auto; }

@media (max-width: 1279px) {
  .container {
    padding: 0 100px; } }

@media (max-width: 1023px) {
  .container {
    padding: 0 40px; } }

@media (max-width: 849px) {
  .container {
    padding: 0 20px; } }

.main-btn {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #ff9c8e;
  border-radius: 64px;
  height: 56px;
  width: 226px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .main-btn:hover {
    background-color: #ff7e6c; }

.slider {
  background-color: inherit;
  color: white;
  border-top-left-radius: 200px;
  padding-top: 200px;
  padding: 0;
  overflow: hidden;
  width: 687px;
  height: 680px; }
  @media (max-width: 1599px) {
    .slider {
      border-top-left-radius: 150px;
      padding-top: 150px; } }
  @media (max-width: 1023px) {
    .slider {
      border-top-left-radius: 100px;
      padding-top: 100px; } }
  @media (max-width: 849px) {
    .slider {
      border-top-left-radius: 50px;
      padding-top: 50px; } }
  .slider__gallery {
    position: absolute;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .slider__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .slider__bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px; }
  .slider__controll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .slider__arrow-left, .slider__arrow-right {
    height: 32px;
    width: 32px;
    background: no-repeat center / cover;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .slider__arrow-left:hover, .slider__arrow-right:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .slider__arrow-left {
    background-image: url(../images/slider/arrow-left.svg); }
  .slider__arrow-right {
    background-image: url(../images/slider/arrow-right.svg); }
  .slider__describe {
    margin-left: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .slider__title {
    margin: 0 0 8px; }
  .slider__small {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4em; }

@media (max-width: 1599px) {
  .slider {
    padding: 0;
    height: 520px;
    width: 550px; } }

@media (max-width: 1279px) {
  .slider {
    padding: 0;
    height: 400px;
    width: 460px; } }

.promo {
  position: relative;
  height: 800px;
  background-color: #008aff;
  border-bottom-left-radius: 200px;
  padding-bottom: 200px; }
  @media (max-width: 1599px) {
    .promo {
      border-bottom-left-radius: 150px;
      padding-bottom: 150px; } }
  @media (max-width: 1023px) {
    .promo {
      border-bottom-left-radius: 100px;
      padding-bottom: 100px; } }
  @media (max-width: 849px) {
    .promo {
      border-bottom-left-radius: 50px;
      padding-bottom: 50px; } }
  .promo__slider {
    position: absolute;
    bottom: 0;
    right: 0; }

@media (max-width: 1599px) {
  .promo {
    min-height: 620px;
    max-height: 800px;
    height: 100vh; } }

@media (max-width: 1279px) {
  .promo {
    min-height: 500px;
    max-height: 600px; } }

@media (max-width: 849px) {
  .promo {
    height: 150px;
    min-height: unset; }
    .promo__slider {
      display: none; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 64px; }
  .nav__link {
    color: inherit;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover {
      color: lightgray; }

.nav-mobile {
  background-color: #ff9c8e;
  overflow: auto; }
  .nav-mobile__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 49px 0; }
  .nav-mobile__times {
    height: 40px;
    width: 40px;
    background: no-repeat center url(../images/times.svg); }
  .nav-mobile__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px; }
  .nav-mobile__link {
    display: inline-block;
    color: inherit;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase; }

.hire {
  border-bottom: 2px solid #ff9c8e; }

@media (max-width: 1279px) {
  .nav__item {
    margin-right: 30px; }
  .hire {
    border-color: #ff8675; } }

.header {
  padding-top: 49px;
  color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 3rem; }
  .header__nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; }
  .header__bottom {
    max-width: 332px;
    margin-top: 2rem; }
  .header__describe {
    color: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin: 32px 0 83px; }
  .header__burger, .header__nav-mobile {
    display: none; }
  .header__burger {
    height: 40px;
    width: 40px;
    background: no-repeat center url(../images/burger.svg); }
  .header__nav-mobile {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0;
    z-index: -1; }

@media (max-width: 1599px) {
  .header__describe {
    margin-bottom: 40px; } }

@media (max-width: 849px) {
  .header__nav {
    display: none; }
  .header__burger, .header__nav-mobile {
    display: block; }
  .header__bottom {
    margin: 0 auto;
    display: none; } }

.info {
  max-width: 744px;
  margin: 0 auto;
  padding: 148px 20px; }
  .info__title {
    margin-bottom: 16px; }
  .info__describe {
    font-size: 1rem;
    color: #6c788b; }

.about {
  background-color: #fff;
  padding-top: 128px;
  width: 100%;
  margin: 0 auto; }
  .about__title {
    text-align: center;
    margin-bottom: 64px; }
  .about__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.card {
  width: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem 155px 0;
  text-align: center; }
  .card:last-child {
    margin-right: 0; }
  .card__img {
    margin: 0 auto 40px;
    border-radius: 24px;
    width: 166px;
    height: 166px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    .card__img:hover {
      -webkit-box-shadow: 0 15px 55px rgba(0, 0, 0, 0.3);
              box-shadow: 0 15px 55px rgba(0, 0, 0, 0.3); }
  .card__title {
    margin-bottom: 16px; }

@media (max-width: 1023px) {
  .about {
    padding-top: 2rem; }
    .about__cards {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  .card {
    margin: 0 auto 60px; }
    .card:last-child {
      margin: 0 auto 100px; } }

.card-features {
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  padding: 32px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
  .card-features:hover {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); }
  .card-features__order {
    width: 46px;
    height: 24px;
    border-radius: 23px;
    margin-bottom: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase; }
  .card-features__list {
    margin-bottom: 32px; }
  .card-features__item {
    font-size: 13px;
    line-height: 1.5em; }
  .card-features__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 40px;
    margin-right: 16px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s; }
  .card-features__btn-name {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    line-height: 40px; }
  .card-features__bottom {
    display: inline-block;
    position: relative;
    width: 143px;
    height: 40px;
    color: inherit; }
    .card-features__bottom:hover .card-features__btn {
      width: 140%;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .card-features__bottom:hover .card-features__arrow {
      display: none; }
    .card-features__bottom:hover .card-features__btn-name {
      color: #fff; }
  .card-features--blue .card-features__order {
    color: #56ccf2; }
  .card-features--blue .card-features__btn {
    background-color: #56ccf2; }
  .card-features--green .card-features__order {
    color: #15d850; }
  .card-features--green .card-features__btn {
    background-color: #15d850; }
  .card-features--red .card-features__order {
    color: #f36363; }
  .card-features--red .card-features__btn {
    background-color: #f36363; }
  .card-features--yellow .card-features__order {
    color: #fcc304; }
  .card-features--yellow .card-features__btn {
    background-color: #fcc304; }
  .card-features--purple .card-features__order {
    color: purple; }
  .card-features--purple .card-features__btn {
    background-color: purple; }
  .card-features--blue .card-features__order {
    background-color: rgba(86, 204, 242, 0.1); }
  .card-features--yellow .card-features__order {
    background-color: rgba(252, 201, 29, 0.1); }
  .card-features--green .card-features__order {
    background-color: rgba(252, 201, 29, 0.1); }
  .card-features--red .card-features__order {
    background-color: rgba(243, 99, 99, 0.1); }

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .service__small-title {
    color: #c0cdd7;
    margin-bottom: 16px; }
  .service__title {
    line-height: 1.3em;
    margin-bottom: 1rem; }
  .service__info {
    margin: 250px 0;
    max-width: 362px; }
  .service__describe {
    margin-bottom: 16px;
    color: #6c788b; }
  .service__cards {
    display: grid;
    grid-template-columns: repeat(2, 264px);
    gap: 30px;
    -ms-flex-line-pack: end;
        align-content: end;
    margin-bottom: 44px; }
  .service__card {
    height: 264px; }
    .service__card:nth-child(2n-1) {
      -webkit-transform: translateY(50%);
              transform: translateY(50%); }

@media (max-width: 1919px) {
  .service {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (max-width: 1279px) {
  .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .service__info {
      margin: 50px 0; } }

@media (max-width: 1023px) {
  .service__cards {
    grid-template-columns: 264px; }
  .service__card:nth-child(2n-1) {
    -webkit-transform: translate(0);
            transform: translate(0); } }

.offers {
  position: relative;
  background-color: #ff9c8e;
  color: #fff;
  padding: 0 60px;
  border-top-left-radius: 200px;
  padding-top: 200px;
  border-bottom-left-radius: 200px;
  padding-bottom: 200px;
  margin-left: 121px; }
  @media (max-width: 1599px) {
    .offers {
      border-top-left-radius: 150px;
      padding-top: 150px; } }
  @media (max-width: 1023px) {
    .offers {
      border-top-left-radius: 100px;
      padding-top: 100px; } }
  @media (max-width: 849px) {
    .offers {
      border-top-left-radius: 50px;
      padding-top: 50px; } }
  @media (max-width: 1599px) {
    .offers {
      border-bottom-left-radius: 150px;
      padding-bottom: 150px; } }
  @media (max-width: 1023px) {
    .offers {
      border-bottom-left-radius: 100px;
      padding-bottom: 100px; } }
  @media (max-width: 849px) {
    .offers {
      border-bottom-left-radius: 50px;
      padding-bottom: 50px; } }
  .offers__info {
    max-width: 362px; }
  .offers__title {
    line-height: 1.3em;
    margin-bottom: 32px; }
  .offers__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 64px; }
    .offers__item:last-child {
      margin-bottom: 0; }
  .offers__icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    margin-right: 34px; }
  .offers__describe {
    color: inherit;
    font-size: 15px;
    line-height: 1.5em;
    width: 264px; }
  .offers__main-picture {
    position: absolute;
    bottom: 0;
    right: 0; }

@media (max-width: 1279px) {
  .offers__main-picture {
    display: none; }
  .offers__info {
    margin: 0 auto; } }

@media (max-width: 849px) {
  .offers {
    margin-left: 0; }
    .offers__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .offers__icon {
      margin: 0 0 20px; }
    .offers__info {
      margin: 40px auto; } }

.person {
  padding: 32px;
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .person--blue svg {
    fill: #56ccf2; }
  .person--blue .person__oval {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
  .person--green svg {
    fill: #15d850; }
  .person--green .person__oval {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #15d850;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #15d850;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
  .person--red svg {
    fill: #f36363; }
  .person--red .person__oval {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f36363;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f36363;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
  .person--yellow svg {
    fill: #fcc304; }
  .person--yellow .person__oval {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
  .person--purple svg {
    fill: purple; }
  .person--purple .person__oval {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), purple;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), purple;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
  .person__oval {
    position: absolute;
    z-index: -1;
    width: 139px;
    height: 59px; }
    .person__oval:first-child {
      top: 20%;
      left: 5px;
      -webkit-transition: left 0.3s;
      transition: left 0.3s; }
    .person__oval:last-child {
      bottom: 20%;
      right: 5px;
      -webkit-transition: right 0.3s;
      transition: right 0.3s; }
  .person__img {
    width: 140px;
    border-radius: 50%;
    -webkit-transition: border-radius, 0.3s;
    transition: border-radius, 0.3s; }
  .person__photo {
    width: 250px;
    height: 250px;
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 27px; }
    .person__photo:hover .person__oval:first-child {
      left: -15px; }
    .person__photo:hover .person__oval:last-child {
      right: -15px; }
    .person__photo:hover .person__img {
      border-radius: 60px;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .person__describe {
    width: 250px;
    margin: 10px 0 16px; }
  .person__name {
    margin-bottom: 4px; }
  .person__job {
    color: #c0cdd7; }

.review {
  padding-top: 148px;
  margin-bottom: 148px; }
  .review__titles {
    max-width: 316px; }
  .review__small-title {
    color: #c0cdd7;
    margin-bottom: 16px; }
  .review__title {
    display: inline-block;
    margin-bottom: 85px; }
  .review__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 120px; }
  .review__person {
    width: 314px;
    margin-bottom: 48px; }

@media (max-width: 1279px) {
  .review__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .review__titles {
    margin: 0 auto; } }

.cooperation {
  position: relative;
  text-align: center;
  background: #fff;
  padding: 200px 20px;
  z-index: 0; }
  .cooperation__title {
    margin-bottom: 1rem; }
  .cooperation__describe {
    font-size: 1rem;
    max-width: 754px;
    margin: 0 auto;
    margin-bottom: 64px; }
  .cooperation__btn {
    margin: 0 auto 200px; }
  .cooperation__oval {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), rgba(0, 0, 0, 0);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), rgba(0, 0, 0, 0);
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
    .cooperation__oval--blue {
      border: 2px solid #56ccf2;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
      .cooperation__oval--blue:hover {
        background-color: #56ccf2;
        border: none; }
    .cooperation__oval--green {
      border: 2px solid #15d850;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
      .cooperation__oval--green:hover {
        background-color: #15d850;
        border: none; }
    .cooperation__oval--red {
      border: 2px solid #f36363;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
      .cooperation__oval--red:hover {
        background-color: #f36363;
        border: none; }
    .cooperation__oval--yellow {
      border: 2px solid #fcc304;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
      .cooperation__oval--yellow:hover {
        background-color: #fcc304;
        border: none; }
    .cooperation__oval--purple {
      border: 2px solid purple;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
      .cooperation__oval--purple:hover {
        background-color: purple;
        border: none; }
    .cooperation__oval:nth-child(1) {
      left: 20%;
      top: 10%;
      width: 86px;
      height: 34px; }
    .cooperation__oval:nth-child(2) {
      width: 45px;
      height: 18px;
      left: 30%;
      top: 10%; }
    .cooperation__oval:nth-child(3) {
      width: 67px;
      height: 27px;
      left: 10%;
      top: 45%; }
    .cooperation__oval:nth-child(4) {
      width: 143px;
      height: 57px;
      left: 20%;
      top: 35%; }
    .cooperation__oval:nth-child(5) {
      width: 94px;
      height: 37px;
      left: 15%;
      top: 55%; }
    .cooperation__oval:nth-child(6) {
      width: 45px;
      height: 18px;
      left: 35%;
      top: 50%; }
    .cooperation__oval:nth-child(7) {
      width: 143px;
      height: 57px;
      right: 20%;
      top: 20%; }
    .cooperation__oval:nth-child(8) {
      width: 45px;
      height: 18px;
      right: 15%;
      top: 10%; }
    .cooperation__oval:nth-child(9) {
      width: 94px;
      height: 37px;
      right: 10%;
      top: 30%; }
    .cooperation__oval:nth-child(10) {
      width: 94px;
      height: 37px;
      right: 25%;
      top: 45%; }
    .cooperation__oval:nth-child(11) {
      width: 45px;
      height: 18px;
      right: 35%;
      top: 55%; }
    .cooperation__oval:nth-child(12) {
      width: 143px;
      height: 57px;
      top: 50%;
      right: 15%; }

@media (max-width: 1023px) {
  .cooperation__reactangles {
    visibility: hidden; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__input {
    color: inherit;
    width: 100%;
    padding: 0 0 16px;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px; }
    .form__input::-webkit-input-placeholder {
      color: inherit; }
    .form__input::-moz-placeholder {
      color: inherit; }
    .form__input:-ms-input-placeholder {
      color: inherit; }
    .form__input::-ms-input-placeholder {
      color: inherit; }
    .form__input::placeholder {
      color: inherit; }
    .form__input:focus {
      opacity: 1; }

.footer {
  position: relative;
  background-color: #008aff;
  color: white;
  padding-bottom: 80px;
  margin-top: -200px;
  border-top-right-radius: 200px;
  padding-top: 200px; }
  @media (max-width: 1599px) {
    .footer {
      border-top-right-radius: 150px;
      padding-top: 150px; } }
  @media (max-width: 1023px) {
    .footer {
      border-top-right-radius: 100px;
      padding-top: 100px; } }
  @media (max-width: 849px) {
    .footer {
      border-top-right-radius: 50px;
      padding-top: 50px; } }
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto; }
  .footer__part {
    width: 40%;
    max-width: 460px;
    margin-bottom: 80px; }
    .footer__part:last-child {
      margin-bottom: 0; }
  .footer__title {
    margin-bottom: 56px; }
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.contact__title {
  opacity: 0.5; }

.contact__link, .contact__icon {
  color: inherit;
  display: inline-block;
  margin-bottom: 2rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .contact__link:hover, .contact__icon:hover {
    opacity: 0.7; }

.contact__icon {
  margin-right: 1.5rem; }

@media (max-width: 1023px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__part {
    width: 100%; }
  .footer__title {
    margin-bottom: 1rem; }
  .footer__bottom {
    display: none; } }

html {
  scroll-behavior: smooth;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px; }

body {
  margin: 0;
  background: #f2f9ff;
  color: #253757; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*# sourceMappingURL=main.css.map */
